.manga-details-container {
  width: 60%;
  margin: auto auto;
}
h1 {
  border-top-left-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  width: fit-content;
  padding: 2rem;
  background-color: rgb(255, 208, 0);
  margin-bottom: 4rem;
  font-size: 4.8rem;
  font-family: inherit;
}
