.featured--links {
  text-decoration: none;
  color: black;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  font-weight: 300;
  font-size: 1.5rem;
  &:hover {
    color: rgba(255, 0, 0, 0.37);
    transition: 0.25s;
  }
  @media only screen and (min-width: 641px) and (max-width: 1200px) {
    font-size: 2rem;
  }
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    font-size: 2.5rem;
    padding: 2rem;
  }
}

.featured--links-shonen {
  background-color: rgb(255, 166, 0);
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0.1rem 1rem 0.1rem 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  &:hover {
    background-color: rgb(255, 210, 0);
    transition: 0.25s;
  }
  @media only screen and (min-width: 641px) and (max-width: 1200px) {
    font-size: 2rem;
  }
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    font-size: 2.5rem;
  }
}
