.background-container {
  height: 100%;
  width: 100%;
  background-color: inherit;
}

.order-product-container {
  min-height: 100vh;
  width: 60%;
  background-color: inherit;
  margin: auto auto;
  padding: 0;
}
