.seasons-all-container {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  min-height: 70.5vh;
  margin-bottom: 4rem;
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    margin: auto auto;
    width: 60%;
  }
  &-list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
      gap: 2rem;
    }
    @media only screen and (min-width: 1201px) and (max-width: 2560px) {
      gap: 2rem;
    }
    &-button {
      border: none;
      cursor: pointer;
      font-family: inherit;
      font-size: 1.1rem;
      font-weight: 500;
      @media only screen and (min-width: 1201px) and (max-width: 2560px) {
        font-size: 2rem;
      }
      &:hover {
        color: #fff;
        transition: 0.25s;
      }
    }
  }
  &--current {
    margin: auto auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
    @media only screen and (min-width: 376px) and (max-width: 640px) {
      justify-content: space-around;
    }
    @media only screen and (min-width: 641px) and (max-width: 960px) {
      grid-template-columns: auto auto auto;
      justify-content: space-around;
    }
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
      grid-template-columns: auto auto auto auto;
    }
    @media only screen and (min-width: 1201px) and (max-width: 1500px) {
      grid-template-columns: auto auto auto;
    }
    @media only screen and (min-width: 1501px) and (max-width: 1699px) {
      grid-template-columns: auto auto auto auto;
    }
    @media only screen and (min-width: 1700px) and (max-width: 2560px) {
      grid-template-columns: auto auto auto auto auto;
    }
    &-element {
      position: relative;
      &-link {
        text-decoration: none;
        &:visited {
          color: #fff;
        }
        &:active {
          color: #fff;
        }
      }
      &-img {
        @media only screen and (min-width: 0px) and (max-width: 361px) {
          width: 155px;
          height: 253.55px;
        }
        @media only screen and (min-width: 362px) and (max-width: 375px) {
          width: 165px;
          height: 253.55px;
        }
        @media only screen and (min-width: 376px) and (max-width: 640px) {
          width: 170px;
          height: 253.55px;
        }
        @media only screen and (min-width: 641px) and (max-width: 960px) {
          width: 190px;
          height: 253.55px;
        }
        @media only screen and (min-width: 961px) and (max-width: 1200px) {
          width: 200px;
          height: 283.55px;
        }
        @media only screen and (min-width: 1201px) and (max-width: 2560px) {
          width: 200px;
          height: 283.55px;
        }
      }
      &-h3 {
        display: flex;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        &-title {
          font-size: 1.4rem;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 0.48783263305322133) 35%,
            rgba(0, 0, 0, 1) 100%
          );
          color: #fff;
          padding: 1.5rem 0.5rem 0.5rem;
          position: absolute;
          display: inline-block;
          bottom: 0;
          @media only screen and (min-width: 0px) and (max-width: 361px) {
            width: 155px;
          }
          @media only screen and (min-width: 362px) and (max-width: 375px) {
            width: 165px;
          }
          @media only screen and (min-width: 376px) and (max-width: 640px) {
            width: 170px;
          }
          @media only screen and (min-width: 641px) and (max-width: 960px) {
            width: 190px;
          }
          @media only screen and (min-width: 961px) and (max-width: 1200px) {
            width: 200px;
          }
          @media only screen and (min-width: 1201px) and (max-width: 2560px) {
            width: 200px;
          }
          &:hover {
            color: brown;
            transition: 0.25s;
          }
        }
      }
    }
  }
}

h1 {
  border-top-left-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  width: fit-content;
  padding: 2rem;
  background-color: rgb(255, 208, 0);
  margin-bottom: 4rem;
  font-size: 4.8rem;
  font-family: inherit;
}

h2 {
  font-size: 3.6rem;
  font-family: inherit;
}

hr {
  margin-top: 1.3rem;
}

.fall {
  padding: 0.5rem 1.5rem;
  background-color: #9c2706;
  border-radius: 1rem;
}
.winter {
  padding: 0.5rem 1.5rem;
  background-color: #b3daf1;
  border-radius: 1rem;
}
.spring {
  padding: 0.5rem 1.5rem;
  background-color: #b4f9a5;
  border-radius: 1rem;
}
.summer {
  padding: 0.5rem 1.5rem;
  background-color: #ffd700;
  border-radius: 1rem;
}
