<div class="seasons-all-container">
  <app-back-to-home></app-back-to-home>
  <h1>Seasons</h1>

  <ul class="seasons-all-container-list">
    <li>
      <button
        type="button"
        class="seasons-all-container-list-button fall"
        (click)="loadDiffData(2022, 'Fall')"
      >
        Fall 2022
      </button>
    </li>
    <li>
      <button
        type="button"
        class="seasons-all-container-list-button winter"
        (click)="loadDiffData(2022, 'Winter')"
      >
        Winter 2022
      </button>
    </li>
    <li>
      <button
        type="button"
        class="seasons-all-container-list-button spring"
        (click)="loadDiffData(2023, 'Spring')"
      >
        Spring 2023
      </button>
    </li>
    <li>
      <button
        type="button"
        class="seasons-all-container-list-button summer"
        (click)="loadDiffData(2023, 'Summer')"
      >
        Summer 2023
      </button>
    </li>
  </ul>

  <h2 *ngIf="!isClicked">Summer 2023 Anime</h2>
  <hr *ngIf="!isClicked" />
  <div class="seasons-all-container--current" *ngIf="!isClicked">
    <div
      class="seasons-all-container--current-element"
      *ngFor="let el of this.seasonNow.data"
    >
      <a
        class="seasons-all-container--current-element-link"
        routerLink="/seasons/{{ el.mal_id }}"
      >
        <h3 class="seasons-all-container--current-element-h3">
          <span class="seasons-all-container--current-element-h3-title">{{
            el.title
          }}</span>
        </h3>
        <img
          class="seasons-all-container--current-element-img"
          src="{{ el.images.webp.image_url }}"
          alt=""
        />
      </a>
    </div>
  </div>

  <h2 *ngIf="isClicked">{{ this.season }} {{ this.year }} Anime</h2>
  <hr *ngIf="isClicked" />
  <div class="seasons-all-container--current" *ngIf="isClicked">
    <div
      class="seasons-all-container--current-element"
      *ngFor="let el of seasonBy()"
    >
      <a
        class="seasons-all-container--current-element-link"
        routerLink="/seasons/{{ el.mal_id }}"
      >
        <h3 class="seasons-all-container--current-element-h3">
          <span class="seasons-all-container--current-element-h3-title">{{
            el.title
          }}</span>
        </h3>
        <img
          class="seasons-all-container--current-element-img"
          src="{{ el.images.webp.image_url }}"
          alt=""
        />
      </a>
    </div>
  </div>

  <h2>Upcoming Anime</h2>
  <hr />
  <div class="seasons-all-container--current">
    <div
      class="seasons-all-container--current-element"
      *ngFor="let el of this.seasonUpcoming.data"
    >
      <a
        class="seasons-all-container--current-element-link"
        routerLink="/seasons/{{ el.mal_id }}"
      >
        <h3 class="seasons-all-container--current-element-h3">
          <span class="seasons-all-container--current-element-h3-title">{{
            el.title
          }}</span>
        </h3>
        <img
          class="seasons-all-container--current-element-img"
          src="{{ el.images.webp.image_url }}"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
