.anime-details-container {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  @media only screen and (min-width: 961px) and (max-width: 1200px) {
    width: 60%;
    margin: auto auto;
  }
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    width: 60%;
    margin: auto auto;
  }
}
