.season-details-container {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  @media only screen and (min-width: 0px) and (max-width: 375px) {
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
  }
  @media only screen and (min-width: 961px) and (max-width: 1200px) {
  }
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    width: 60%;
    margin: auto auto;
  }
  &-content {
    background-color: #dfdfdf;
    border: 1px solid #b1b1b1;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 4rem;
    @media only screen and (min-width: 0px) and (max-width: 375px) {
      grid-template-columns: auto;
      border: none;
    }
    @media only screen and (min-width: 376px) and (max-width: 640px) {
      grid-template-columns: auto;
      border: none;
      justify-content: center;
    }
    @media only screen and (min-width: 641px) and (max-width: 960px) {
      grid-template-columns: auto;
      border: none;
      justify-content: center;
    }
    &-left {
      display: grid;
      padding: 1.6rem;
      border-right: 1px solid #b1b1b1;
      width: 100%;
      @media only screen and (min-width: 0px) and (max-width: 375px) {
        border: none;
      }
      @media only screen and (min-width: 376px) and (max-width: 640px) {
        border: none;
      }
      @media only screen and (min-width: 641px) and (max-width: 960px) {
        border: none;
      }
      &-img {
        width: 95%;
        @media only screen and (min-width: 0px) and (max-width: 375px) {
          margin: auto auto;
        }
        @media only screen and (min-width: 376px) and (max-width: 640px) {
          margin: auto auto;
        }
        @media only screen and (min-width: 641px) and (max-width: 960px) {
          margin: auto auto;
        }
      }
      &-text {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }
    &-right {
      padding: 1.6rem;
      width: 100%;
      @media only screen and (min-width: 0px) and (max-width: 375px) {
        margin: auto auto;
      }
      @media only screen and (min-width: 376px) and (max-width: 640px) {
        margin: auto auto;
      }
      @media only screen and (min-width: 641px) and (max-width: 960px) {
        width: fit-content;
        margin: auto auto;
      }
      &-header {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 6rem;
        background-color: #f1f1f1;
        height: 100px;
        margin-bottom: 2rem;
        align-items: center;
        width: 100%;
        @media only screen and (min-width: 0px) and (max-width: 375px) {
          gap: 0rem;
        }
        @media only screen and (min-width: 376px) and (max-width: 640px) {
          gap: 0rem;
        }
        @media only screen and (min-width: 641px) and (max-width: 960px) {
          gap: 0rem;
        }
        @media only screen and (min-width: 961px) and (max-width: 1200px) {
          gap: 0rem;
        }
        @media only screen and (min-width: 1201px) and (max-width: 2560px) {
          gap: 0rem;
        }
      }
      &-text {
        display: flex;
        align-items: center;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        text-align: center;
        font-size: 1.1rem;
        width: fit-content;
        height: 75px;
        @media only screen and (min-width: 961px) and (max-width: 1200px) {
          font-size: 1.5rem;
        }
        @media only screen and (min-width: 1201px) and (max-width: 2560px) {
          font-size: 1.5rem;
        }
      }
      &-iframe {
        width: 100%;
        @media only screen and (min-width: 0px) and (max-width: 375px) {
          height: 200px;
        }
        @media only screen and (min-width: 376px) and (max-width: 640px) {
          height: 240px;
        }
        @media only screen and (min-width: 641px) and (max-width: 960px) {
          height: 350px;
        }
        @media only screen and (min-width: 961px) and (max-width: 1200px) {
          height: 424px;
        }
        @media only screen and (min-width: 1201px) and (max-width: 1600px) {
          height: 400px;
        }
        @media only screen and (min-width: 1601px) and (max-width: 2560px) {
          height: 424px;
        }
      }
    }
  }
}

h1 {
  border-top-left-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  width: fit-content;
  padding: 2rem;
  background-color: rgb(255, 208, 0);
  margin-bottom: 4rem;
  font-size: 4.8rem;
  font-family: inherit;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 2.4rem;
}

.hr-top {
  margin-bottom: 3rem;
}

.hr-left {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.border {
  border-left: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;
}
