<div class="anime-recommended-container">
  <div class="anime-recommended-container--header-container">
    <h4 class="anime-recommended-container--header-container--title">
      Trending anime
    </h4>
    <a
      routerLink="/trending-anime"
      class="anime-recommended-container--header-container--link"
      >See more ></a
    >
  </div>
  <div class="anime-recommended-container--content-container">
    <div *ngFor="let el of this.animeRecList">
      <a
        href="/trending-anime/{{ el.id }}"
        class="anime-recommended-container--content-container--link"
      >
        <img src="{{ el.attributes.posterImage.original }}" alt="" />
        <div class="anime-recommended-container--content-container--text">
          <p class="anime-recommended-container--content-container--title">
            {{ el.attributes.canonicalTitle }}
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
