.anime-recommended-container {
  background-image: url("/assets/img/imggg/5265-seriesheaders-op-2000x800_ac25.jpg");
  margin: 2.5rem auto;
  margin-bottom: 0;
  background-repeat: no-repeat;
  height: 570px;
  display: flex;
  flex-direction: column;
  &--header-container {
    margin: 2.5rem auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2rem;
    padding-bottom: 1rem;
    @media only screen and (min-width: 0px) and (max-width: 375px) {
    }
    @media only screen and (min-width: 376px) and (max-width: 640px) {
    }
    @media only screen and (min-width: 641px) and (max-width: 960px) {
    }
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
    }
    @media only screen and (min-width: 1201px) and (max-width: 1800px) {
      width: 60%;
    }
    @media only screen and (min-width: 1801px) and (max-width: 2560px) {
      width: 60%;
    }
    &--title {
      font-weight: 500;
      @media only screen and (min-width: 0px) and (max-width: 375px) {
        margin-left: 0.5rem;
        font-size: 2.5rem;
      }
      @media only screen and (min-width: 376px) and (max-width: 640px) {
        font-size: 2.5rem;
        margin-left: 0.5rem;
      }
      @media only screen and (min-width: 641px) and (max-width: 960px) {
        font-size: 2.5rem;
        margin-left: 0.5rem;
      }
      @media only screen and (min-width: 961px) and (max-width: 1200px) {
        font-size: 2.5rem;
        margin-left: 0.5rem;
      }
      @media only screen and (min-width: 1201px) and (max-width: 1800px) {
        font-size: 3.5rem;
      }
      @media only screen and (min-width: 1801px) and (max-width: 2560px) {
        font-size: 3.5rem;
      }
    }
    &--link {
      font-size: 4rem;
      font-weight: 500;
      text-decoration: none;
      color: inherit;
      @media only screen and (min-width: 0px) and (max-width: 375px) {
        display: none;
      }
      @media only screen and (min-width: 376px) and (max-width: 640px) {
        display: none;
      }
      @media only screen and (min-width: 641px) and (max-width: 960px) {
        display: none;
      }
      @media only screen and (min-width: 961px) and (max-width: 1200px) {
        display: none;
      }
      @media only screen and (min-width: 1201px) and (max-width: 1800px) {
        font-size: 3.5rem;
      }
      @media only screen and (min-width: 1801px) and (max-width: 2560px) {
        font-size: 3.5rem;
      }
      &:hover {
        text-decoration: underline;
        color: white;
        transition: 0.25s;
      }
    }
  }
  &--content-container {
    gap: 1rem;
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-between;
    @media only screen and (min-width: 0px) and (max-width: 375px) {
      overflow-x: scroll;
      width: 60%;
    }
    @media only screen and (min-width: 376px) and (max-width: 640px) {
      overflow-x: scroll;
      background-color: #fff;
      width: 60%;
    }
    @media only screen and (min-width: 641px) and (max-width: 960px) {
      width: 60%;
      overflow-x: scroll;
      background-color: #fff;
    }
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
      overflow-x: scroll;
      width: 60%;
      background-color: #fff;
    }
    @media only screen and (min-width: 1201px) and (max-width: 1870px) {
      width: 60%;
      overflow-x: scroll;
      background-color: #fff;
    }
    @media only screen and (min-width: 1871px) and (max-width: 2560px) {
      overflow-x: hidden;
      width: 60%;
    }
    & img {
      width: 270px;
      height: 210px;
    }
    &--link {
      text-decoration: none;
      &:hover {
        background-color: red;
        transition: 0.25s;
      }
    }
    &--text {
      margin-top: -0.5rem;
      max-width: 270px;
      min-height: 75px;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25%;
      overflow: hidden;
      padding: 2rem;
    }
    &--title {
      max-width: 300px;
      color: #fff;
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
    }
  }
}
