<div class="anime-recommended-container">
  <div class="anime-recommended-container--header-container">
    <h4 class="anime-recommended-container--header-container--title">
      {{ this.data.animeReccomendedHeaderData[0].h }}
    </h4>
    <a
      href="{{ this.data.animeReccomendedHeaderData[0].urlButton }}"
      class="anime-recommended-container--header-container--link"
      >{{ this.data.animeReccomendedHeaderData[0].btn }}</a
    >
  </div>
  <div class="anime-recommended-container--content-container">
    <div *ngFor="let el of this.data.animeReccomendedContainerData">
      <a
        href="{{ el.url }}"
        class="anime-recommended-container--content-container--link"
      >
        <img src="{{ el.img }}" alt="" />
        <div class="anime-recommended-container--content-container--text">
          <p class="anime-recommended-container--content-container--title">
            {{ el.title }}
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
