<nav class="navigation">
  <div class="navigation--top-nav">
    <div class="navigation--top-nav--links">
      <div>
        <img
          (click)="scrollTo()"
          src="assets/img/kimetsunoyaiba.png"
          class="navigation--top-nav--links--logo"
          alt=""
        />
      </div>
      <div class="navigation--top-nav--links--separate">
        <div class="navigation--top-nav--links--burger" (click)="toggleMenu()">
          <span class="material-icons">
            {{ isMenuOpened ? "close" : "menu" }}
          </span>
        </div>
        <div
          class="navigation--top-nav--links--menu"
          [class.is-open]="isMenuOpened"
          *ngFor="let el of this.navigationData"
        >
          <a routerLink="{{ el.url }}">{{ el.title }}</a>
        </div>
      </div>
    </div>
    <div class="navigation--top-nav--clock">
      <div class="navigation--top-nav--clock--time">{{ date }}</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="navigation--top-nav--clock--icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
  </div>
</nav>
