.random-quotes {
  margin: 2.5rem auto;
  @media only screen and (min-width: 0px) and (max-width: 1200px) {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
  &--header-container {
    margin: 2.5rem auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    &--title {
      align-self: center;
      font-weight: 500;
      margin-bottom: 2rem;
      font-size: 2.5rem;
      @media only screen and (min-width: 376px) and (max-width: 640px) {
        font-size: 3.5rem;
      }
      @media only screen and (min-width: 641px) and (max-width: 960px) {
        font-size: 3.5rem;
      }
      @media only screen and (min-width: 961px) and (max-width: 1200px) {
        font-size: 3.5rem;
      }
      @media only screen and (min-width: 1201px) and (max-width: 1800px) {
        font-size: 4rem;
      }
      @media only screen and (min-width: 1801px) and (max-width: 2560px) {
        font-size: 5rem;
      }
    }
    &--action {
      margin-bottom: 2rem;
      font-weight: 300;
      align-self: center;
      font-size: 2.5rem;
      @media only screen and (min-width: 376px) and (max-width: 640px) {
        font-size: 3rem;
      }
      @media only screen and (min-width: 641px) and (max-width: 960px) {
        font-size: 3rem;
      }
      @media only screen and (min-width: 961px) and (max-width: 1200px) {
        font-size: 3rem;
      }
      @media only screen and (min-width: 1201px) and (max-width: 1800px) {
        font-size: 3.5rem;
      }
      @media only screen and (min-width: 1801px) and (max-width: 2560px) {
        font-size: 4rem;
      }
    }
    &--img {
      align-self: center;
      cursor: pointer;
      @media only screen and (min-width: 0px) and (max-width: 375px) {
        width: 25%;
      }
      @media only screen and (min-width: 376px) and (max-width: 640px) {
        width: 20%;
      }
      @media only screen and (min-width: 641px) and (max-width: 960px) {
        width: 20%;
      }
      @media only screen and (min-width: 961px) and (max-width: 1200px) {
        width: 12.5%;
      }
      @media only screen and (min-width: 1201px) and (max-width: 1800px) {
        width: 8.5%;
      }
      @media only screen and (min-width: 1801px) and (max-width: 2560px) {
        width: 8.5%;
      }
    }
  }
  &--content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--anime {
      font-weight: 500;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      @media only screen and (min-width: 1201px) and (max-width: 1800px) {
        font-size: 3rem;
      }
      @media only screen and (min-width: 1801px) and (max-width: 2560px) {
        font-size: 3rem;
      }
    }
    &--character {
      font-weight: 500;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      @media only screen and (min-width: 1201px) and (max-width: 1800px) {
        font-size: 2.5rem;
      }
      @media only screen and (min-width: 1801px) and (max-width: 2560px) {
        font-size: 3rem;
      }
    }
    &--text {
      display: flex;
      margin-left: 0.5rem;
      font-weight: 300;
      font-size: 1.5rem;

      @media only screen and (min-width: 1201px) and (max-width: 1800px) {
        font-size: 2rem;
      }
      @media only screen and (min-width: 1801px) and (max-width: 2560px) {
        font-size: 2rem;
      }
    }
  }
}
