<div class="random-quotes">
  <div class="random-quotes--header-container">
    <h4 class="random-quotes--header-container--title">{{randomQuotesData[0].title}}</h4>
    <h5 #action class="random-quotes--header-container--action">{{randomQuotesData[0].action}}</h5>
    <img class="random-quotes--header-container--img" (click)="scroll(target)" (click)="randomQuotes()" src="{{randomQuotesData[0].img}}" alt="" />
  </div>
  <div #target>
    <app-random-quotes-content [myData]="myData"></app-random-quotes-content>
  </div>
</div>
