<div class="books-recomended-header">
  <h4 class="books-recomended-header--title">Other trending manga</h4>
  <a routerLink="/manga-list" class="books-recomended-header--link">
    See more >
  </a>
</div>

<div class="books-recomended-container">
  <div
    *ngFor="let el of this.dataService"
    class="books-recomended-container--el-container"
  >
    <a
      href="/manga-list/{{ el.id }}"
      class="books-recomended-container--img-hover"
    >
      <div class="books-recomended-container--img-container">
        <img
          src="{{ el.attributes.posterImage.small }}"
          loading="lazy"
          class="books-recomended-container--img"
          alt=""
        />
      </div>
    </a>
    <div class="books-recomended-text-container">
      <p class="books-recomended-text-container--type">
        {{ el.type | titlecase }}
      </p>
      <p class="books-recomended-text-container--p">
        <a
          href="/manga-list/{{ el.id }}"
          class="books-recomended-text-container--title"
          >{{ el.attributes.canonicalTitle }}
        </a>
      </p>
    </div>
  </div>
</div>
