.books-recomended-header {
  margin: 2.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (min-width: 376px) and (max-width: 640px) {
  }
  @media only screen and (min-width: 961px) and (max-width: 1200px) {
  }
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    margin: auto auto;
    width: 60%;
  }
  &--title {
    font-weight: 300;
    @media only screen and (min-width: 0px) and (max-width: 375px) {
      font-size: 2.5rem;
    }
    @media only screen and (min-width: 376px) and (max-width: 640px) {
      font-size: 2.5rem;
    }
    @media only screen and (min-width: 641px) and (max-width: 960px) {
      font-size: 3.5rem;
    }
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
      font-size: 3.5rem;
      width: 60%;
      justify-content: center;
    }
    @media only screen and (min-width: 1201px) and (max-width: 2560px) {
      font-size: 4rem;
      width: 60%;
      justify-content: center;
    }
  }
  &--link {
    font-size: 2.5rem;
    align-self: flex-end;
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    &:hover {
      color: red;
      text-decoration: underline;
      transition: 0.25s;
    }
  }
}

.books-recomended-container {
  overflow-y: hidden;
  margin: 2.5rem auto;
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 8rem;
  @media only screen and (min-width: 0px) and (max-width: 375px) {
    overflow-x: scroll;
  }
  @media only screen and (min-width: 376px) and (max-width: 640px) {
    overflow-x: scroll;
  }
  @media only screen and (min-width: 641px) and (max-width: 960px) {
    overflow-x: scroll;
  }
  @media only screen and (min-width: 961px) and (max-width: 1200px) {
    overflow-x: scroll;
    justify-content: space-between;
  }
  @media only screen and (min-width: 1201px) and (max-width: 1700px) {
    overflow-x: scroll;
    width: 60%;
    justify-content: space-between;
  }
  @media only screen and (min-width: 1701px) and (max-width: 2560px) {
    justify-content: space-between;
    overflow-x: scroll;
    width: 60%;
  }
  &--el-container {
    min-width: 250px;
    max-width: 250px;
  }
  &--img-hover:hover img {
    transform: scale(1.05);
    transition: 0.5s;
  }
  &--img-container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 4rem 8rem 2rem 8rem;
  }
  &--img {
    max-height: 200px;
  }
}

.books-recomended-text-container {
  background-color: white;
  padding: 0;
  height: 100%;
  &--type {
    font-size: 3rem;
    padding: 0.5rem 3rem 0 3rem;
    color: #a1a1a1;
  }
  &--p {
    font-size: 1.7rem;
    overflow-wrap: break-word;
    padding: 0 3rem 3rem 3rem;
    font-weight: 400;
  }
  &--title {
    text-decoration: none;
    color: inherit;
    overflow-wrap: break-word;
    &:hover {
      color: red;
      transition: 0.25s;
      text-decoration: underline;
      overflow: hidden;
    }
  }
}
