<div class="books-recomended-header">
<h4 class="books-recomended-header--title">{{booksRecomendedDataTitle[0].h}}</h4>
<a href="#" class="books-recomended-header--link">{{booksRecomendedDataTitle[0].linkText}}</a>
</div>

<div class="books-recomended-container">
  <div *ngFor="let el of booksRecomendedData" class="books-recomended-container--el-container">
    <a href="" class="books-recomended-container--img-hover">
      <div class="books-recomended-container--img-container">
        <img src="{{el.img}}" loading="lazy" class="books-recomended-container--img" alt="" />
      </div>
    </a>
    <div class="books-recomended-text-container">
      <p class="books-recomended-text-container--type">{{el.name}}</p>
      <p class="books-recomended-text-container--p">
        <a href="" class="books-recomended-text-container--title">{{el.title}}
        </a>
      </p>
    </div>
  </div>
</div>
