<div *ngIf="this.curRoute !== '/home'" class="background-container">
  <img
    class="background-container-img"
    src="{{ featuredBook.attributes.coverImage?.small }}"
    alt=""
  />
</div>
<div class="featured-book">
  <h3 *ngIf="this.curRoute === '/home'" class="featured-book--title">
    Read {{ featuredBook.type }}
  </h3>
  <div class="section-two-space-elements featured-book--space-elements">
    <a
      routerLink="/manga-list/{{ featuredBook.id }}"
      [class.disabled]="this.curRoute !== '/home'"
    >
      <div class="featured-book--img-container">
        <img
          src="{{ featuredBook.attributes.posterImage.small }}"
          loading="lazy"
          alt=""
        />
      </div>
    </a>
    <div>
      <h4 class="featured-book--title">
        {{ featuredBook.attributes.canonicalTitle }}
      </h4>

      <p class="featured-book--text">
        {{
          expanded
            ? featuredBook.attributes.description
            : (featuredBook.attributes.description | textShortener : 600)
        }}
      </p>
      <div class="featured-book--expand" *ngIf="this.curRoute !== '/home'">
        <button
          class="featured-book--expand-btn"
          *ngIf="featuredBook.attributes.description.length > 600"
          (click)="expandDesc()"
        >
          Read more
        </button>
      </div>
      <a routerLink="/order/{{ featuredBook.id }}" class="featured-book--order"
        >Order now</a
      >
    </div>
  </div>
</div>
