<div class="featured-book">
  <h3 class="featured-book--title">Read {{ featuredBook.type }}</h3>
  <div class="section-two-space-elements featured-book--space-elements">
    <a routerLink="/manga-list/{{ featuredBook.id }}">
      <div class="featured-book--img-container">
        <img
          src="{{ featuredBook.attributes.posterImage.small }}"
          loading="lazy"
          alt=""
        />
      </div>
    </a>
    <div>
      <h4 class="featured-book--title">
        {{ featuredBook.attributes.canonicalTitle }}
      </h4>

      <p class="featured-book--text">
        {{
          expanded
            ? featuredBook.attributes.description
            : (featuredBook.attributes.description | textShortener : 600)
        }}
      </p>

      <button
        *ngIf="featuredBook.attributes.description.length > 600"
        (click)="expandDesc()"
      >
        Read more
      </button>
      <a
        routerLink="/manga-list/{{ featuredBook.id }}"
        class="featured-book--order"
        >Order now</a
      >
    </div>
  </div>
</div>
