.featured-book {
  margin: 2.5rem auto;
  @media only screen and (min-width: 0px) and (max-width: 1200px) {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
  @media only screen and (min-width: 1201px) and (max-width: 2560px) {
    width: 60%;
  }
  &--title {
    // margin-left: 0.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
      font-size: 6rem;
      // margin-left: 0;
    }
    @media only screen and (min-width: 1201px) and (max-width: 2560px) {
      font-size: 6rem;
      // margin-left: 0;
    }
  }
  &--space-elements {
    @media only screen and (min-width: 1801px) and (max-width: 2560px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10rem;
    }
  }
  &--img-container {
    margin: auto auto;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 4rem 7.5rem;

    @media only screen and (min-width: 376px) and (max-width: 640px) {
      width: 90%;
    }
    @media only screen and (min-width: 641px) and (max-width: 960px) {
      width: 70%;
    }
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
      width: 60%;
    }
    @media only screen and (min-width: 1201px) and (max-width: 1800px) {
      width: 60%;
    }

    &:hover img {
      transform: scale(1.05);
      transition: 0.25s;
    }
  }
  &--text {
    font-weight: 300;
    margin-bottom: 4rem;
    text-align: justify;
    font-size: 2rem;
    @media only screen and (min-width: 641px) and (max-width: 960px) {
      font-size: 2.5rem;
    }
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
      font-size: 3rem;
    }
    @media only screen and (min-width: 1201px) and (max-width: 1800px) {
      font-size: 3rem;
    }
    @media only screen and (min-width: 1801px) and (max-width: 2560px) {
      font-size: 3rem;
    }
  }
  &--order {
    padding: 1.25rem 2.5rem;
    background-color: black;
    text-decoration: none;
    font-size: 3rem;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: auto auto;
    @media only screen and (min-width: 1201px) and (max-width: 2560px) {
      margin: 0;
    }
    &:hover {
      background-color: brown;
      transition: 0.25s;
    }
  }
  &--expand {
    display: flex;
    align-items: center;
    justify-content: center;
    &-btn {
      font-size: 2rem;
      font-family: inherit;
      border: none;
      padding: 0.5rem 1rem;
      background-color: #000;
      margin-bottom: 2rem;
      text-align: center;
      color: #fff;
      &:hover {
        transition: 0.25s;
        cursor: pointer;
        background-color: brown;
      }
    }
  }
}
