.single-container-parent {
  margin-top: 4rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  .single-container {
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
    margin-bottom: 0.7rem;
    display: grid;
    grid-template-columns: auto auto auto;
    &-sort {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 4rem;
      &-text {
        font-size: 1.8rem;
      }
      &-icon {
        width: 18px;
        height: 18px;
      }
      &-btn {
        margin-left: 0.5rem;
        border: none;
        cursor: pointer;
        &:hover {
          transition: 0.25s;
          color: brown;
        }
      }
    }
  }
}

.genre-single {
  padding-bottom: 3rem;
  background-color: #fff;
  text-align: center;
  margin-bottom: 4rem;
  width: 300px;
  justify-self: center;
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;

  &-img {
    margin-top: 1rem;
    padding: 1rem;
    max-width: 200px;
    max-height: 250px;
    height: 250px;
    width: 180px;
    margin-bottom: 1rem;
  }
  &-title {
    align-self: center;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  &-smaller-container {
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;

    padding: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-bottom: 1.5rem;
    align-items: center;
    gap: 1rem;
  }
  &-score {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  &-icon {
    height: 24px;
    width: 24px;
    fill: yellow;
  }
}

h1 {
  border-top-left-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  width: fit-content;
  padding: 2rem;
  background-color: rgb(255, 208, 0);
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 4.8rem;
  font-family: inherit;
}
